.LoadButtonDiv
{
  padding: 10px;
  margin-top: 50px;
  flex-direction: column;
}

.LoadButton
{
  width: 100px;
  margin-bottom: 10px;
}

.InputFile
{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
